{% extends 'base.html.twig' %}

{% block title %}Edit Target{% endblock %}

{% block body %}
    <h1>Edit Target</h1>

    {{ include('admin_target/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_target_index') }}">back to list</a>

    {{ include('admin_target/_delete_form.html.twig') }}
{% endblock %}
