<form method="post" action="{{ path('app_admin_qg_delete', {'id': qg.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce QG ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ qg.id) }}">
    <button class="btn">Supprimer</button>
</form>
