{% extends 'base.html.twig' %}

{% block title %}New Qg{% endblock %}

{% block body %}
    <h1>Create new Qg</h1>

    {{ include('admin_qg/_form.html.twig') }}

    <a href="{{ path('app_admin_qg_index') }}">back to list</a>
{% endblock %}
